
@{
    ViewBag.Title = "Pharmacology Catalog";
}
<h2>
    Northwest Labs Pharmacology Catalog
    @Html.ActionLink("Get Your Quote Now!", "GetQuote", null, new { @class = "btn btn-primary pull-right" })
</h2>


<iframe style="width: 100%; min-height: 400px; height: 95vh" src="http://online.fliphtml5.com/gamal/zejc/index.html"
        seamless="seamless" scrolling="no" frameborder="0"
        allowtransparency="true" allowfullscreen="true">
</iframe>
<h4>
    @Html.ActionLink("Back to New Customer Information Page", "Index")
</h4>