
@{
    ViewBag.Title = "QuoteConf";
}

<h2>Quote Request Confirmation</h2>

<p class="col-md-8">
    Thank you, @ViewBag.Name, for submitting your quote request. We have sent an email to @ViewBag.Email, 
    and we will process your request and send you a quote promptly.
</p>
<img class="col-md-4" src="~/Content/Images/Logo/nwlabslogo.png" alt="Northwest Labs Logo" />

