@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2 style="font-weight: 700">
        CUSTOMER NAVIGATION MENU

    </h2>
    <p>
        Select an Option
    </p>

</div>

<div class="row">
    @Html.ActionLink("Get Quote", "GetQuote" ,"Customer", new { id = ViewBag.ClientID }, htmlAttributes: new { @class = "btn btn-block btn-primary", style = "font-size: large"})
    @Html.ActionLink("See Catalogs", "Index","Customer",null, htmlAttributes: new { @class = "btn btn-block btn-primary", style = "font-size: large" })
    @Html.ActionLink("View My Records", "ViewRecords","Customer",null, htmlAttributes: new { @class = "btn btn-block btn-primary", style = "font-size: large" })
    
</div>